.terraform
.terraform/*
*.zip
.DS_Store
docs/local
.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
terragrunt
*.tfstate.*.backup
